.form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.form .formInput,
.formButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.from input {
    cursor: unset;
}

.form input::placeholder {
    text-align: center;
}

.form input:focus {
    background-color: #fff;
    color: #000;
}

.form button:hover {
    background-color: #fff;
    color: #000;
}
